.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    padding-top: 50px;
    padding-left: 20px;
}

.container2 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.container3 {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.box {
    width: 1325px;
    height: 500px;
    background-color: #f0f0f0;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
}

.box1 {
    width: 1000px;
    height: 200px;
    border: 1px solid grey;
    justify-content: center;
    padding-left: 30px;
}

.box2 {
    width: 1000px;
    height: 200px;
    border: 1px solid grey;
    justify-content: center;
    padding-left: 30px;
}